<!DOCTYPE html>
<html>
<head>
	<title>HTTP Protocol</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<div class="head">Структура протокола</div>
<div>
<div class="menu">
<ul>
	<li><a href="/">HTTP</a>
		<ul>
			<li><a href="/page_1">HTTP Protocol</a></li>
			<li><a href="/page_2">Cookie</a></li>
		</ul>
	</li>
	<li><a href="/page_3">HTTPS</a></li>
</ul>
</div>
<div class="text_box">
<p>Каждое HTTP-сообщение состоит из трёх частей, которые передаются в указанном порядке:

    Стартовая строка (англ. Starting line) — определяет тип сообщения;
    Заголовки (англ. Headers) — характеризуют тело сообщения, параметры передачи и прочие сведения;
    Тело сообщения (англ. Message Body) — непосредственно данные сообщения. Обязательно должно отделяться от заголовков пустой строкой.

Тело сообщения может отсутствовать, но стартовая строка и заголовок являются обязательными элементами. Исключением является версия 0.9 протокола, у которой сообщение запроса содержит только стартовую строку, а сообщения ответа только тело сообщения.

Для версии протокола 1.1 сообщение запроса обязательно должно содержать заголовок Host.</p>
<p>Стартовые строки различаются для запроса и ответа. Строка запроса выглядит так:

    GET URI — для версии протокола 0.9;
    Метод URI HTTP/Версия — для остальных версий.

Здесь:

    Метод (англ. Method) — тип запроса, одно слово заглавными буквами. В версии HTTP 0.9 использовался только метод GET, список методов для версии 1.1 представлен ниже.
    URI определяет путь к запрашиваемому документу.
    Версия (англ. Version) — пара разделённых точкой цифр. Например: 1.0.

Чтобы запросить страницу данной статьи, клиент должен передать строку (задан всего один заголовок):

GET /wiki/HTTP HTTP/1.0
Host: ru.wikipedia.org

Стартовая строка ответа сервера имеет следующий формат: HTTP/Версия КодСостояния Пояснение, где:

    Версия — пара разделённых точкой цифр, как в запросе;
    Код состояния (англ. Status Code) — три цифры. По коду состояния определяется дальнейшее содержимое сообщения и поведение клиента;
    Пояснение (англ. Reason Phrase) — текстовое короткое пояснение к коду ответа для пользователя. Никак не влияет на сообщение и является необязательным.

Например, стартовая строка ответа сервера на предыдущий запрос может выглядеть так:

HTTP/1.0 200 OK
</p>
<p>Метод HTTP (англ. HTTP Method) — последовательность из любых символов, кроме управляющих и разделителей, указывающая на основную операцию над ресурсом. Обычно метод представляет собой короткое английское слово, записанное заглавными буквами. Обратите внимание, что название метода чувствительно к регистру.

Каждый сервер обязан поддерживать как минимум методы GET и HEAD. Если сервер не распознал указанный клиентом метод, то он должен вернуть статус 501 (Not Implemented). Если серверу метод известен, но он неприменим к конкретному ресурсу, то возвращается сообщение с кодом 405 (Method Not Allowed). В обоих случаях серверу следует включить в сообщение ответа заголовок Allow со списком поддерживаемых методов.

Кроме методов GET и HEAD, часто применяется метод POST.</p>
<img src="img/response.png" style="width: 90%; margin: 0 auto;">
<p>Код состояния является частью первой строки ответа сервера. Он представляет собой целое число из трёх цифр[5]. Первая цифра указывает на класс состояния. За кодом ответа обычно следует отделённая пробелом поясняющая фраза на английском языке, которая разъясняет человеку причину именно такого ответа. Примеры:

201 Webpage Created
403 Access allowed only for registered users
507 Insufficient Storage
</p>
<p>Заголовки HTTP (англ. HTTP Headers) — это строки в HTTP-сообщении, содержащие разделённую двоеточием пару параметр-значение. Формат заголовков соответствует общему формату заголовков текстовых сетевых сообщений ARPA (см. RFC 822). Заголовки должны отделяться от тела сообщения хотя бы одной пустой строкой.

Примеры заголовков:

Server: Apache/2.2.11 (Win32) PHP/5.3.0
Last-Modified: Sat, 16 Jan 2010 21:16:42 GMT
Content-Type: text/plain; charset=windows-1251
Content-Language: ru

В примере выше каждая строка представляет собой один заголовок. При этом то, что находится до первого двоеточия, называется именем (англ. name), а что после неё — значением (англ. value).

Все заголовки разделяются на четыре основных группы:

    General Headers («Основные заголовки») — могут включаться в любое сообщение клиента и сервера;
    Request Headers («Заголовки запроса») — используются только в запросах клиента;
    Response Headers («Заголовки ответа») — только для ответов от сервера;
    Entity Headers («Заголовки сущности») — сопровождают каждую сущность сообщения.
</p>
</div>
</div>
<div class="footer">Footer</div>
</body>
</html>
</html>